.bounty-modal,
.token-modal,
.wallet-modal {
  span.title {
    color: $c-base;
    font-size: 24px;
    margin-bottom: 16px;
  }
  label {
    color: $c-semi-black;
    margin-left: 2px;
  }
  .close-button {
    background-image: url(../images/close.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0;
    position: relative;
    margin-bottom: -32px;
    bottom: 8px;
    left: 8px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .modal-content {
    border-radius: 8px;
    input,
    textarea {
      border-radius: 8px;
      width: 100%;
      border: 1px solid #d8d8d8;
      padding: 4px 8px;
    }
    textarea {
      resize: vertical;
    }
  }
  table {
    width: 100%;
    tr {
      width: 100%;
      td {
        width: 48%;
        .btn {
          width: 100%;
        }
      }
    }
  }
  .add-paper {
    padding-left: 4px;
    color: $c-semi-black;
    cursor: pointer;
    &:before,
    &::before {
      content: "+";
      border-radius: 50%;
      background-color: #282f39;
      color: white;
      padding: 1px 6px 3px;
      left: -4px;
      position: relative;
      top: -2px;
    }
  }
  .wallet-address {
    text-align: center;
  }
}
.wallet-modal {
  ul.wallet-menu {
    list-style-type: none;
    padding-left: 0;
    width: 160px;
    display: inline-block;
    width: 166px;
    li {
      font-size: 16px;
      line-height: 20px;
      padding: 12px 24px;
      cursor: pointer;
      color: #9b9b9b;
      border-bottom: 1px solid #f4f4f4;
      &:hover {
        color: black;
      }
      &.active {
        background-color: #f4f4f4;
        color: black;
        width: 167px;
        border: 1px solid #9b9b9b;
        border-right: 0;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.prev {
        border-bottom: 1px solid transparent;
      }
    }
  }
  .qr-code {
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #1f252e;
    background-color: #f2f2f2;
    border-color: #e9e9e9 #e9e9e9 transparent;
    position: relative;
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .tab-content {
    background-color: #f2f2f2;
    color: #1f252e;
    padding: 16px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #e9e9e9;
  }
  .wallets {
    overflow: hidden;
    margin: 0 auto;
    width: max-content;
    .vl {
      border-left: 1px solid #e4e4e4;
      height: 168px;
      position: absolute;
      margin-left: -3px;
      top: 130px;
    }
    .wallet {
      position: relative;
      float: left;
      display: block;
      width: 168px;
      .icon {
        width: 116px;
        height: 116px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: auto;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
      }
      .btn.btn-gray.btn-sm {
        padding: 4px 8px;
        margin: auto;
        margin-top: 16px;
        display: block;
        width: 164px;
      }
      &.ethereum {
        margin-right: 24px;
        .icon {
          background-image: url(../images/ethereum.png);
        }
      }
      &.binance {
        .icon {
          background-image: url(../images/binance.png);
        }
      }
      &.metamask {
        margin-right: 24px;
        .icon {
          background-image: url(../images/metamask.png);
        }
      }
      &.hardware {
        margin-right: 24px;
        .icon {
          background-image: url(../images/hw-wallet.png);
        }
      }
      &.hybrid {
        margin-right: 24px;
        .icon {
          background-image: url(../images/hybrid-wallet.png);
        }
      }
      &.software {
        .icon {
          background-image: url(../images/sw-wallet.png);
        }
      }
    }
  }
  &.choose-wallet {
    .modal-content {
      width: 786px;
      position: relative;
    }
    .modal-dialog {
      max-width: 786px;
    }
    .network {
      position: absolute;
      top: 12px;
      left: 12px;
      color: #4f93dc;
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: center left;
      height: 24px;
      width: max-content;
      padding-left: 24px;
      &.ethereum {
        background-image: url(../images/ethereum.png);
      }
      &.binance {
        background-image: url(../images/binance.png);
      }
    }
  }
  &.choose-blockchain {
    .modal-content {
      width: 640px;
      position: relative;
    }
    .modal-dialog {
      max-width: 640px;
    }
    .github,
    .term,
    .support {
      color: #4f93dc;
      background-repeat: no-repeat;
      background-size: 16px;
      background-position-y: center;
      background-position-x: left;
      height: 22px;
      width: max-content;
      padding-left: 24px;
    }
    .github {
      bottom: 66px;
      background-image: url(../images/github.png);
    }
    .term {
      bottom: 44px;
      background-image: url(../images/term.png);
    }
    .support {
      bottom: 22px;
      background-image: url(../images/support.png);
    }
  }
  &.choose-wallet-address,
  &.enter-passphrase,
  &.confirm-wallet-address {
    .modal-content {
      width: 480px;
      min-width: 480px;
    }
    .modal-dialog {
      max-width: 480px;
    }
  }
  &.other-wallet {
    .modal-content {
      width: 780px;
      min-width: 780px;
    }
    .modal-dialog {
      max-width: 780px;
    }
  }
  &.choose-wallet-address {
    .addresses {
      height: 240px;
      overflow-y: scroll;
      background-color: #f4f4f4;
      padding: 12px;
      margin-bottom: 12px;
      label {
        color: #1f252e;
        font-size: 16px;
      }
      .checkmark {
        background-color: white;
        border: 2px solid black;
      }
    }
  }
  &.enter-passphrase {
    input {
      width: 350px;
      display: block;
      margin: auto;
    }
  }
  &.confirm-wallet-address {
    .address {
      margin: auto;
      width: 320px;
    }
  }
}
/* Responsive */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .wallet-modal {
    .modal-content {
      width: 320px !important;
      min-width: 320px !important;
      position: relative;
    }
    .modal-dialog {
      max-width: 320px !important;
      min-width: 320px !important;
      margin: auto;
    }
    .pagination .page-item .page-link {
      font-size: 12px !important;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      padding: 12px;
    }
    &.enter-passphrase {
      .form-group {
        width: 100%;
      }
      input {
        width: 100% !important;
      }
      button.btn.btn-primary.btn-sm {
        margin-top: 16px;
      }
    }
    &.choose-wallet, &.choose-blockchain {
      .modal-content {
        width: 320px;
        position: relative;
      }
      .modal-dialog {
        max-width: 320px;
        margin: auto;
      }
      .wallets {
        margin: 0 auto;
        width: 100%;
        padding: 0 22px;
        .vl {
          display: none !important;
        }
        .wallet {
          position: relative;
          float: left;
          display: block;
          width: max-content;
          .icon {
            width: 58px;
            height: 58px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin: auto;
          }
          a {
            width: 100%;
            height: 100%;
            display: block;
          }
          .btn.btn-gray.btn-sm {
            width: 100px;
            font-size: 10px;
          }
          &.ethereum,
          &.binance,
          &.metamask,
          &.hardware,
          &.hybrid,
          &.software {
            padding: 10px;
            margin-right: 0 !important;
            .icon {
            }
          }
        }
      }
      .network {
      }
      .github,
      .term,
      .support {
        position: relative !important;
        margin: 0 !important;
        bottom: -36px !important;
      }
      .github {
      }
      .term {
      }
      .support {
      }
      .skip-txt,
      .skip-btn {
        width: 100%;
        clear: both;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767px) {
  .wallet-modal {
    &.enter-passphrase {
      .form-group {
        width: 100%;
      }
      input {
        width: 100% !important;
      }
      button.btn.btn-primary.btn-sm {
        margin-top: 16px;
      }
    }
    &.choose-wallet, &.choose-blockchain {
      .modal-content {
        width: 540px;
        position: relative;
      }
      .modal-dialog {
        max-width: 540px;
      }
      .wallets {
        margin: 0 auto;
        width: 100%;
        padding: 0 65px;
        .vl {
          display: none !important;
        }
        .wallet {
          position: relative;
          float: left;
          display: block;
          width: max-content;
          .icon {
            width: 116px;
            height: 116px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin: auto;
          }
          a {
            width: 100%;
            height: 100%;
            display: block;
          }
          .btn.btn-gray.btn-sm {
          }
          &.ethereum,
          &.binance,
          &.metamask,
          &.hardware,
          &.hybrid,
          &.software {
            padding: 12px;
            margin-right: 0 !important;
            .icon {
            }
          }
        }
      }
      .network {
      }
      .github,
      .term,
      .support {
      }
      .github {
      }
      .term {
      }
      .support {
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991px) {
  .wallet-modal {
    &.choose-wallet, &.choose-blockchain {
      .modal-content {
        width: 640px;
        position: relative;
      }
      .modal-dialog {
        max-width: 640px;
      }
      .wallets {
        margin: 0 auto;
        width: 100%;
        padding: 0 115px;
        .vl {
          display: none !important;
        }
        .wallet {
          position: relative;
          float: left;
          display: block;
          width: max-content;
          .icon {
            width: 116px;
            height: 116px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin: auto;
          }
          a {
            width: 100%;
            height: 100%;
            display: block;
          }
          .btn.btn-gray.btn-sm {
          }
          &.ethereum,
          &.binance,
          &.metamask,
          &.hardware,
          &.hybrid,
          &.software {
            padding: 12px;
            margin-right: 0 !important;
            .icon {
            }
          }
        }
      }
      .network {
      }
      .github,
      .term,
      .support {
      }
      .github {
      }
      .term {
      }
      .support {
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
