/* ==========================================================================
Content
========================================================================== */
section {
  h2.heading {
    color: #f4f8f9;
    font-size: 28px;
    margin-top: 58px;
    a {
      color: #f4f8f9;
    }
  }
  .sub-heading {
    color: #97a4ad;
  }
}